.ce-firstquote {
  color: #656565;
  font-style: italic;
  padding-left: 25px;
}

.ce-inline-toolbar__buttons .ce-inline-tool--firstQuote {
  margin-right: 0;
  margin-bottom: 3px;
  padding-right: 0;
}
