$imgBasePath: '../../imgs/';
$asideWidth: 150px;
$asideMargin: 15px;
$navHeight: 30px;
$contentMaxWidth: 800px;

$xsAccountFormWidth: 345px;

$green: #35B986;

$breakpoints: (
  xs: 575px,
  sm: 767px,
  md: 991px,
  lg: 1199px
);
