.payment-section {
  margin-top: 30px;

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 19px;
    color: #242424;
    margin-bottom: 15px;

    .payment-section__title {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__edit-btn {
    font-size: 14px;
    line-height: 17px;
    color: #8A8A8A;
    cursor: pointer;
  }

  &__body {
    display: flex;
  }

  &--editing {
    .payment-section__edit-btn {
      color: #35B986;
    }
  }
}
