commands:
  03_certs:
    command: sudo mkdir -p config/jwt && sudo openssl genrsa -out config/jwt/private.pem 4096 && sudo openssl rsa -pubout -in config/jwt/private.pem -out config/jwt/public.pem

container_commands:
  01_touch_the_leader:
    command: |
      #!/usr/bin/env bash
      touch /tmp/leader_only
    leader_only: true
  02_update_schema:
    command: php bin/console --no-interaction doctrine:schema:update --force
    leader_only: true
  03_certs:
    command: sudo mkdir -p config/jwt && sudo openssl genrsa -out config/jwt/private.pem 4096 && sudo openssl rsa -pubout -in config/jwt/private.pem -out config/jwt/public.pem
