h2.ce-header {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  color: #282828;
  margin: calc(50px - 1em * 0.3) 0 5px;
}

.ce-inline-tool--largeheader {
  margin: 8px 5px 9px 0px;
}
