@import "../../../styles/variables";

.story-item {
  padding: 19px 15px 21px 0;
  border-bottom: 1px solid #EBEBEB;
  color: #9c9c9c;
  position: relative;
  
  &__title {
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    font-weight: bold;
    color: #242424;

    &:hover {
      color: #242424;
      opacity: .6;
      text-decoration: none;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 17px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > :not(:first-child):not(.story-item__menu) {
      margin-left: 15px;
      position: relative;
    }

    & > :not(:first-child):not(.story-item__menu)::before {
      content: "\00B7";
      position: absolute;
      left: -9px;
    }
  }

  &__folder {
    display: inline-block;

    &-link {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: $green;
        text-decoration: none;
      }
    }
  }

  &__updated {
    display: inline-block;
  }

  &__read-info {
    display: inline-flex;
  }

  &__menu {
    position: absolute;
    right: 0;
    height: 15px;
    top: calc(50% - 15px / 2);
  }

  &--compact {
    border: none;
    padding: 5px 0;

    &:last-child {
      padding-bottom: 0;
    }

    &__title {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: map_get($breakpoints, 'xs')) {
  .story-item {
    padding-right: 0;

    &__title {
      font-size: 18px;
      line-height: 22px;
    }

    &__menu {
      position: relative;
      display: inline-block;
      margin-left: 10px;

      .icon {
        width: 10px;
        height: 10px;
      }

      .sho-tooltip {
        left: auto;
        transform: none;
        right: -9px;

        &__content {
          &::before {
            left: auto;
            right: 7px;
          }
        }
      }
    }

    &__read-info {
      &-hide {
        display: none;
      }
    }
  }
}
