.c-tooltip {
  position: fixed;
  display: none;
  z-index: 1000;

  &.show {
    display: block;
  }

  .c-tooltip-content {
    display: flex;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    white-space: normal;
    align-items:center;
    z-index: 1;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #929292;
  }

  &__tip {
    display: block;
    position: fixed;
    width: 14px;
    height: 14px;
    box-shadow: 1px -1px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fff;
    transform: rotate(315deg);
  }
}
