.synonym-tooltip {
  max-width: 200px;

  .synonym-content {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  &__word {
    color: #35B986;
    display: block;
    margin: 5px 0;
    cursor: pointer;
    text-align: left;

    &:hover {
      opacity: .6;
    }
  }
}