.ce-firstquote {
  font-family: Lato, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 44px;
  color: #656565;
  padding: 0 0 0 25px;
  margin: calc(60px - 1em * 0.3) 0;
}
