h3.ce-header {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 33px;
  color: #282828;
  margin: calc(50px - 1em * 0.3) 0 5px;
}

.ce-inline-tool--smallheader {
  margin: 8px 5px 4px 0px;
}
