.folder-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &__title {
    font-size: 24px;
    color: #242424;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__desc {
    font-family: Yrsa, serif;
    font-size: 22px;
    line-height: 1.22;
    color: #242424;
    opacity: .6;
  }
}