.credit-card-checkout {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom:30px;

  &__btn {
    font-weight: bold;
    margin: 10px auto 0;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 18px;
    height: auto;
  }

  &__desc {
    font-size: 15px;
    line-height: 130%;
    color: #929292;
    margin-top:30px;
    margin-bottom: 30px;

    a {
      color: #35B986;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        color: #35B986;
      }
    }
  }

  .form-group {
    margin-bottom: 15px;
  }

  .col-6:first-child .form-group {
    margin-right: -5px;
  }

  .col-6:last-child .form-group {
    margin-left: -5px;
  }

  .icon--lock {
      width: 14px;
      height: 14px;
      margin-right: 5px;
      background-image: url(/img/lock.svg);
  }

  .credit-card__title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .InputContainer .InputElement {
    font-size:16px;
    font-family:'Lato', sans-serif;
  }

}
